*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 70px;
    padding: 25px 240px ;
    background-color: #efefef;
}

.containerWrapper{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 0px 15px;
    /* width: 80%; */
}

.content{
    display: flex;
    font-size: 11px;  /*if you want to change font size, do here*/
    
}

.texts{
    color: #3dbd8c;
     display: flex;
     justify-content: center;
     align-items: center;
}


.text{
    color: #bbbdde;
     display: flex;
     justify-content: center;
     align-items: center;
}


.icon svg{
    font-size: 20px;   /*if you want to change icon size, change here*/
    color: #bbbdde;
    padding-left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons svg{
    font-size: 20px;
    color: #3dbd8c;
    padding-left: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.lines{
    /* padding: 0 40px; */
    padding-left:30px ;
    color: #bbbdde;
    font-size:10px;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


@media(max-width:700px){
  .container {
     padding:10px 50px ;
     align-items: center;
     font-size: 8px;
      
  }

  .content{
      font-size: 8px;
  }

  .lines{
      display: none;
  }
}

