.deatilContainer {
    background: #EFEFEF;
    width: 100%;
    padding: 25px 15px 25px;
}

.detailWrapper {
    display: flex;
    max-width: 800px;
    width: 100%;
    margin :auto;
    justify-content: space-between;
}

.detailContentWrap {
    display: flex;
    align-items: center;
}

.detailTitle {
    font-size: 10px;
    color: #bbbdde;
}

.iconWrap {
    padding-left: 3px;
}

.detailIcon {
    font-size: 18px !important;
    color: #bbbdde;
}

.detailchecked,
.detailcheckedIcon {
    color: #3dbd8c;
}

.detailLine {
    display: flex;
    align-items: center;
}
.detailLine p {
    color: #bbbdde;
}


@media screen and (max-width:768px) {
    .deatilContainer {
        border: 1px solid red;
        width: 100%;
        padding: 20px 15px;
    }

    .detailTitle {
        font-size: 8px;
    }

    .detailIcon {
        font-size: 14px !important;
    }

    .iconWrap {
        padding-left: 2px;
    }
    }

@media screen and (max-width:480px) {
    .deatilContainer {
        border: 1px solid red;
        width: 100%;
        padding: 15px 10px;
    }
.detailTitle {
    font-size: 5px;
    }

    .detailIcon {
        font-size: 10px !important;
    }

    .iconWrap {
        padding-left: 0px;
    }
    }