.companyDetailContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

.cardInputContainer {
    padding: 40px 0px 40px 0px;

}

.cardInputContainer h1 {
    font-size: 18px;
}

.floatingLabelWrap {
    padding: 25px 0 0 0;
}


.floatingLabelGroup {
    position: relative;
    width: 320px;
    /* width: 100%; */
    /* max-width: 400px; */
}

.floatingLabelGroup input {
    width: 100%;
    height: 100%;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    outline: none;
    padding: 15px 20px;
    background: none;
    color: #424553;
    background: #F4F4F4;
    border: 1px solid #F4F4F4
}


.floatingLabelGroup input:hover {
    border: 1px solid;
    border-color: #158DC8;
}


.floatingLabelGroup input:focus {
    border: 2px solid;
    border-color: #158DC8;
    background-color: #ffffff;
}


.floatingLabel {
    font-size: 13px;
    color: #424553;
    position: absolute;
    pointer-events: none;
    top: 40px;
    left: 14px;
    cursor: text;
    transition: top 200ms ease-in,
        left 200ms ease-in,
        font-size 200ms ease-in;
    padding: 0 0.4rem;
    background: #F4F4F4;

}


.floatingLabelGroup input:focus~.floatingLabel,
.floatingLabelGroup input:not(:focus):valid~.floatingLabel {
    top: 20px;
    left: 14px;
    font-size: 11px;
    background-color: #ffffff;
    color: #424553;
}


.gstWrap {
    display: flex;
    padding: 15px 0px 15px;
}

.gstWrap p {
    font-weight: 700;
    font-size: 12px;
    padding-right: 18px;
}

.gstWrap input {
    width: 15px;
    height: 15px;
}

.downloadWrap {
    display: flex;
    align-items: center;
}

.downloadWrap p {
    font-size: 12px;
    padding-right: 15px;
    text-transform: capitalize;
}

.downloadWrap a {
    border: 1px solid #158DC8;
    background: none;
    font-size: 12px;
    color: #158DC8;
    padding: 6px;
    border-radius: 6px;
}

.cardBtnWrap {
    width: 100%;
    padding: 25px 0 0 0;
}

.cardBtnWrap button {
    width: 100%;
    text-transform: uppercase;
    background: #158DC8;
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    padding: 15px 20px;
}


.billingWrap{
    display: flex;
    padding: 15px 0px 0px;
    align-items: center;
}

.billingWrap h6 {
    padding-right: 5px;
    font-size: 14px;
}
.cardUploadInputContainer{
    padding: 40px 20px 40px 20px;

}


.cardUploadHeader {
    font-size: 17px;
    font-weight: 700;
    padding: 15px 0;
}


.uploadContent {
    font-weight: 700;
    font-size: 14px;
    max-width: 400px;
}



.uploadInput {
    border: 1px solid #158DC8;
    padding: 6px 35px;
    color: #158DC8;
    background: none;
    margin: 10px 0 25px 0;
}

.uploadFormat {
    font-size: 14px;
    font-weight: 300;
}

.termsConditionWrap {
    display: flex;
    padding: 15px 0px 15px;
    align-items: center;
}

.termsConditionWrap p {
    font-weight: 700;
    font-size: 17px;
    padding-right: 14px;
}

.termsConditionWrap input {
    width: 22px;
    height: 22px;
}

.cardSubmitBtnWrap {
    width: 60%;
    padding: 25px 0 0 0;
}

.cardSubmitBtnWrap button {
    width: 100%;
    text-transform: uppercase;
    background: #158DC8;
    color: #ffffff;
    border-radius: 0.5rem;
    border: none;
    padding: 15px 20px;
}

@media screen and (max-width:768px) {
    .companyDetailContainer {
        justify-content: center;
    }

    .floatingLabelGroup {
    width: 320px;
    /* width: 100% !important; */
    }

    .cardInputContainer {
        padding: 40px 15px 40px 15px;

    }

    .cardSubmitBtnWrap {
        width: 100%;
        padding: 25px 0 0 0;
    }

    .cardUploadInputContainer {
        padding: 40px 15px 40px 15px;

    }
}

/* @media screen and (max-width:520px){
    .companyDetailContainer {
        display: block;
    }
} */

@media screen and (max-width:480px) {
    .floatingLabelWrap {
        /* padding: 20px 0 0 0; */
    }

    .downloadWrap p {
        padding-right: 10px;
    }

    .gstWrap p {
        font-size: 12px;
        padding-right: 12px;
    }

    .cardBtnWrap {
        padding: 20px 0 0 0;
    }

    .termsConditionWrap p {
        font-size: 16px;
        padding-right: 10px;
    }
}
@media screen and (max-width:355px) {
    .cardInputContainer {
        padding: 40px 10px 40px 10px;

    }

    .floatingLabelGroup {
        width: 280px;
    }
}